:root {
  --white: #FFFFFF;
  --black: #111111;
  --gray-light: #EDEDED;
  --gray: #888888;
  --gray-dark: #212529;
  --yellow: #DDAC58;
  --green: #1E824C;

  --text-color: var(--gray);
  --font-base: 1rem;
  --font-xs: 0.9rem;
  --font-md: 1.6rem;
  --font-lg: 2.4rem;
  --font-xl: 3rem;
  --font-xxl: 3.5rem;

  --header-height: 80px;

  --border-width: 1px;
  --border-color-light: var(--gray-light);
  --border-color-dark: var(--gray-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.debug {
  border: 3px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-base);
  line-height: 1.5;
  color: var(--text-color);

}

img {
  width: 100%;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "EB Garamond", serif;
  color: var(--gray-dark);
}

h1 {
  font-size: var(--font-xxl);
}

h2 {
  font-size: var(--font-xl);
}

h3 {
  font-size: var(--font-lg);
}

h4 {
  font-size: var(--font-md);
}

h5 {
  font-size: var(--font-base);
}

h6 {
  font-size: var(--font-xs);
}

a {
  text-decoration: none;
  color: currentColor;
  transition: all 0.4s ease-in-out;
}

.container {
  width: 63%;
  height: 100%;
  margin: 0 auto;
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-white {
  background-color: var(--white);
}

.bg-yellow {
  background-color: var(--yellow);
}

.bg-green {
  background-color: var(--green);
}

.bg-black {
  background-color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-gray-light {
  color: var(--gray-light);
}

.text-gray-dark {
  color: var(--gray-dark);
}

.text-yellow {
  color: var(--yellow);
}

.text-green {
  color: var(--green);
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.grayscale {
  filter: grayscale(100%);
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
  
}


